annotated-types
anyio
biopython
certifi
click
fastapi
h11
idna
joblib
numpy
pandas
pip
pydantic
pydantic_core
python-dateutil
python-multipart
pytz
scikit-learn
scipy
setuptools
six
sniffio
starlette
threadpoolctl
typing_extensions
typing-inspection
tzdata
uvicorn[standard]
gunicorn
wheel
wincertstore